.fixed-button-top {
  position: fixed; /* Fixes the position */
  top: 10px; /* Distance from the bottom */
  right: 10px; /* Distance from the right */
  z-index: 1000; /* Ensures it's above other content */
}
.fixed-button-down {
  position: fixed; /* Fixes the position */
  bottom: 10px; /* Distance from the bottom */
  right: 10px; /* Distance from the right */
  z-index: 1000; /* Ensures it's above other content */
}

.fixed-button-logout {
  position: fixed; /* Fixes the position */
  top: 10px; /* Distance from the bottom */
  right: 100px; /* Distance from the right */
  z-index: 1000; /* Ensures it's above other content */
}