<div class="container-fluid row p-5">
    <div class="col-12 mb-5">
      <form class="form-inline">
        <div class="form-group">
          <div class="input-group">
            <input class="form-label" placeholder="{{ year }}-{{ month }}-{{ day }}" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-event" viewBox="0 0 16 16">
                  <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z"/>
                </svg>
              </button>
              <button class="btn btn-success" (click)="search()" type="button">Buscar</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-12">
      <div class="container-fluid row">
        <div *ngFor="let camera of camera_list" class="col-12 col-md-6 col-lg-3">
          <div class="card mb-5">
            <button class="btn btn-success" (click)="searchPicture(camera)" type="button">{{ camera }}</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngFor="let picture of picture_list" class="col-12 col-md-6 col-lg-3">
      <div class="card mb-5">
        <img src="{{ picture.Path }}" class="img-fluid photo" alt="Responsive image">
        <div class="card-body">
          <h5 class="card-title">{{ picture.Hour }}:{{ picture.Minute }}:{{ picture.Second }}  {{ picture.Day }}/{{ picture.Month }}/{{ picture.Year }}</h5>
          <div class="container-fluid row">
            <div class="col-6"><a href="{{ picture.Path }}" class="btn btn-primary">Descargar</a></div>
            <div class="col-6"><button class="btn btn-danger" (click)="delete(picture)" type="button">Eliminar</button></div>
          </div>
        </div>
      </div>
  </div>
</div>

<button class="btn btn-primary mb-5 fixed-button-down"  (click)="scrolldown()">Down</button>
<button class="btn btn-primary mb-5 fixed-button-top"  (click)="scrollup()" >Up</button>
<button class="btn btn-primary mb-5 fixed-button-logout"  (click)="logout()" >Log out</button>