<div class="body_cortijo justify-content-center container mt-5 mb-5 d-flex">
  <div class="card px-1 py-4">
    <div class="card-body">
      <form (submit)="login($event)" class="form-signin mb-1 mb-md-3 align-middle">
        <label for="tenant" class="sr-only">Tenant</label>
        <input placeholder="Tenant" [(ngModel)]="tenant" name="tenant" class="form-control text-center" id="tenant" type="text">
        <div *ngIf="tenantInvalid" class="alert alert-danger">
          Tenant must on place
        </div>
        <label for="userName" class="sr-only">User</label>
        <input placeholder="User" [(ngModel)]="userName" name="userName" class="form-control text-center" id="userName" type="text">
        <div *ngIf="userInvalid" class="alert alert-danger">
          User must on place
        </div>
        <label for="password" class="sr-only">Password</label>
        <input placeholder="Password" [(ngModel)]="password" name="password" class="form-control text-center" id="password" type="password">
        <div *ngIf="passwordInvalid" class="alert alert-danger">
          Password must on place
        </div>
        <button class="btn btn-lg btn-primary btn-block mt-3" type="submit">Log in</button>
        <div class="mb-1 mb-md-3"><h2 *ngIf="loginFail" class="bg-danger"> Auth fail! </h2></div>
        <div class="mb-1 mb-md-3"><h2 *ngIf="loginSuccess" class="bg-success"> Auth Success! </h2></div>
      </form>
    </div>
  </div>
</div>
